<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>angular-ice</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css">
  </head>
  <body ng-app="angularIceApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="appContent">
    </div>

    <div class="container" ng-controller="NavigationCtrl">
        <div class="header">
            <h1 class="text-muted">
                <span class="text-blue">angular - ice</span> :
                <span class="text-orange">examples</span>
            </h1>

            <button type="button" class="btn btn-warning pull-right" onclick="window.open('https://github.com/bverbist/angular-ice','_blank');">Code on Github</button>

            <tabset ng-init="initFirstActiveTab()">
                <tab heading="Installation" ng-click="goTo('/installation')" active="activeTab.installation"></tab>
                <tab heading="Unit Tester" ng-click="goTo('/unitTester')" active="activeTab.unitTester"></tab>
                <tab heading="Form directives" ng-click="goTo('/formDirectives')" active="activeTab.formDirectives"></tab>
            </tabset>
        </div>

        <div ng-view=""></div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ice/angular-ice.js"></script>

    <script src="app.js" data-concat="false"></script>
    <script src="examples/navigation-controller.js"></script>
    <script src="examples/examples-controller.js"></script>

    <script>
        $('#appContent').load('./app.html');
    </script>
</body>
</html>
