.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.text-blue {
    color: #008B8B;
}

.text-orange {
    color: #FF8C00;
}

#examples h2 {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

#examples h3 {
    padding-top: 15px;
    padding-bottom: 5px;
}

#examples h4 {
    padding-top: 15px;
}

#examples p {
    padding: 0px;
}

#examples pre {
    padding: 0px;
    spacing: 0px;
}

#examples code {
    padding: 0px;
    spacing: 0px;
    color: #556B2F;
}

#examples code .tag {
}

#examples code .indent {
    padding-left: 20px;
}

#examples code .indent2 {
    padding-left: 40px;
}

#examples code .indent3 {
    padding-left: 60px;
}

#examples code .indent4 {
    padding-left: 80px;
}

#examples code .ice {
    color: #FF8C00;
}

#examples code .optional {
    color: #008B8B;
}

#examples code .special {
    color: #2E8B21;
}

#examples code .other {
}

#examples .arguments {
    border: 1px solid #ddd;
    width: 100%;
}

#examples .arguments th {
    background: #f1f1f1;
    padding: 5px;
}

#examples .arguments td {
    border: 1px solid #eee;
    padding: 5px;
}

#examples .form-control {
    width: 50%;
}