<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>angular-ice</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="app.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angularIceApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="NavigationCtrl">
      <div class="header">
        <h1 class="text-muted">
          <span class="text-blue">angular - ice</span> :
          <span class="text-orange">examples</span>
        </h1>

        <button type="button" class="btn btn-warning pull-right" onclick="window.open('https://github.com/bverbist/angular-ice','_blank');">Code on Github</button>

        <tabset>
          <tab heading="Unit Tester" ng-click="goTo('/unitTester')"></tab>
          <tab heading="Form directives" ng-click="goTo('/formDirectives')"></tab>
        </tabset>
      </div>

      <div ng-view=""></div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js" data-concat="false"></script>
    <script src="bower_components/json3/lib/json3.js" data-concat="false"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="components/icecommon/ice-common.js"></script>
        <script src="components/icecommon/directive-utils-service.js"></script>
        <script src="components/iceforms/ice-forms.js"></script>
        <script src="components/iceforms/auto-select-content-on-directive.js"></script>
        <script src="app.js" data-concat="false"></script>
        <script src="examples/navigation-controller.js" data-concat="false"></script>
        <script src="examples/examples-controller.js" data-concat="false"></script>
        <!-- endbuild -->
</body>
</html>
