<form name="$parent.examplesForm" id="examples" autocomplete="on" novalidate>
    <h4>Available</h4>
    <ul>
        <li><a ng-click="goToAnchor('autoSelect')">ice-auto-select-content-on</a></li>
        <li><a ng-click="goToAnchor('bankAccountNr')">ice-bank-account-number</a></li>
    </ul>

    <hr/>

    <h3 class="text-blue" id="autoSelect">ice-auto-select-content-on</h3>

    <h4>Directive Info</h4>

    <p>To automatically select the content of an (input) element when an event (configurable) is triggered on the element.</p>

    <h4>Available since</h4>

    <p>0.1.0</p>

    <h4>Usage</h4>

    <p>Needed module (app dependency): <b>ice.forms</b></p>

    <pre>
        <code>
            <span class="tag">&lt;input</span>
            <span class="indent other">...</span>
            <span class="indent ice">ice-auto-select-content-on</span><span class="optional">[="mouseover"]</span>
            <span class="indent optional">[ice-deselect-event="mouseout"]</span>
            <span class="indent other">...</span>
            <span class="tag">&lt;/input&gt;</span>
        </code>
    </pre>

    <h4>Arguments</h4>

    <table class="arguments">
        <thead>
            <tr>
                <th>Param</th>
                <th>Value type</th>
                <th>Default value</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ice-auto-select-content-on</td>
                <td>string</td>
                <td>click</td>
                <td>Valid event. Value is optional</td>
            </tr>
            <tr>
                <td>ice-deselect-event<br><i>(optional)</i></td>
                <td>string</td>
                <td>blur</td>
                <td>Valid event.</td>
            </tr>
        </tbody>
    </table>

    <h4>Example(s)</h4>

    <p>When default events are used: element selected on <b>'click'</b> + de-selected on <b>'blur'</b>
        <input class="form-control"
               type="text"
               name="autoSelectDefault"
               ng-model="model.autoSelectDefault"
               tabindex="1"
               ng-trim="true"
               ice-auto-select-content-on>
    </p>

    <p>When element selected on <b>'mouseover'</b> + de-selected on <b>'mouseout'</b>
        <input class="form-control"
               type="text"
               name="autoSelectDefault"
               ng-model="model.autoSelectOtherEvent"
               tabindex="2"
               ng-trim="true"
               ice-auto-select-content-on="mouseover"
               ice-deselect-event="mouseout">
    </p>

    <hr/>

    <h3 class="text-blue" id="bankAccountNr">ice-bank-account-number</h3>

    <h4>Directive Info</h4>

    <p>A bank-account-number input field that allows both BBAN and IBAN bank accounts.<br/>
        Based on the input (BBAN, Belgian IBAN or International IBAN):
        <ul>
            <li>The field content will be formatted differently</li>
            <li>Other characters will be filteroud out during input (e.g. BBAN only allows digits)</li>
        </ul></p>

    <h4>Available since</h4>

    <p>0.5.0</p>

    <h4>Usage</h4>

    <p>Needed module (app dependency): <b>ice.bank</b></p>

    <pre>
        <code>
            <span class="tag">&lt;input type="text"</span>
            <span class="indent other">ng-model="someModelVar"</span>
            <span class="indent other">...</span>
            <span class="indent ice">ice-bank-account-number</span>
            <span class="indent ice">ng-trim="false"</span>
            <span class="indent optional">style="letter-spacing: 2px;"</span>
            <span class="indent other">...</span>
            <span class="tag">&lt;/input&gt;</span>
        </code>
    </pre>

    <h4>Example</h4>

    <p><label>BBAN or IBAN</label>
        <input class="form-control"
               type="text"
               name="bankAccountNumber"
               ng-model="model.bankAccountNr"
               tabindex="3"
               ice-bank-account-number
               ng-trim="false"
               style="letter-spacing: 2px; width: 100%;">
        See the difference when inputting either "a numeric", "BE" or "an alphabetic" as the first character(s).
    </p>

</form>
