<div id="examples">
    <h3 class="text-blue">iceUnit</h3>

    <p>Helper object to reduce boilerplate code when unit testing angular controllers, services, directives, etc.</p>

    <h4>Available</h4>
    <ul>
        <li><a ng-click="goToAnchor('controller')">testing a controller</a> [since 0.2.0]</li>
        <li><a ng-click="goToAnchor('service')">testing a service</a> [0.2.0]</li>
        <li><a ng-click="goToAnchor('directive')">testing a directive</a> [0.2.0]</li>
        <li><a ng-click="goToAnchor('directiveConfig')">testing a directive configuration</a> [0.7.0]</li>
        <li><a ng-click="goToAnchor('filter')">testing a filter</a> [0.6.1]</li>
        <li><a ng-click="goToAnchor('inject')">injecting a service</a> [0.2.0]</li>
        <li><a ng-click="goToAnchor('mockPromise')">mocking a promise</a> [0.2.0]</li>
        <li><a ng-click="goToAnchor('mockHttpPromise')">mocking a $http promise</a> [0.2.0]</li>
        <li><a ng-click="goToAnchor('mockResource')">mocking a $resource object</a> [0.4.0]</li>
        <li><a ng-click="goToAnchor('mockResourceAction')">mocking a $resource action</a> [0.4.0]</li>
        <li><a ng-click="goToAnchor('liveExamples')">live examples</a></li>
    </ul>

    <hr/>

    <h4 id="controller">Testing a controller</h4>

    <p>p.s. Example when the 'building' of the controller under test ('YourCtrl') is <u>not</u> done in a beforeEach block, so that you can setup some mocking before the controller is initialised.</p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">describe('YourCtrl:', function() {</span>
            <span class="indent ice">var $scope;</span>
            <span class="indent other"></span>
            <span class="indent special">var buildController = function() {</span>
            <span class="indent2 ice">$scope = iceUnit.builder</span>
            <span class="indent4 ice">.controllerScope(</span><span class="special">'YourApp', 'YourCtrl'</span><span class="ice">)</span>
            <span class="indent4 optional">[.withMock(&lt;injectKey&gt;, &lt;mock&gt;)]</span>
            <span class="indent4 optional">[.withParentScope({...})]</span>
            <span class="indent4 optional">[.skipModuleLoad()]</span><span class="indent special">// if you loaded the module already (e.g. to setup mocking)</span>
            <span class="indent4 ice">.build();</span>
            <span class="indent special">};</span>
            <span class="indent other"></span>
            <span class="indent other">it('some scope test', function() {</span>
            <span class="indent2 special">buildController();</span>
            <span class="indent2 other"></span>
            <span class="indent2 other">expect($scope...).toBe(...);</span>
            <span class="indent other">});</span>
            <span class="other">});</span>
        </code>
    </pre>

    <h4 id="service">Testing a service</h4>

    <p>p.s. Example when replacing a dependency (in this case the $log service) of the service under test ('yourService') with a mock/stub of your own.</p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">describe('yourService:', function() {</span>
            <span class="indent ice">var yourService;</span>
            <span class="indent other"></span>
            <span class="indent special">var logMock = {</span>
            <span class="indent2 special">info: function() {},</span>
            <span class="indent2 special">error: function() {}</span>
            <span class="indent special">};</span>
            <span class="indent other"></span>
            <span class="indent special">beforeEach(function() {</span>
            <span class="indent2 ice">yourService = iceUnit.builder</span>
            <span class="indent4 ice">.service(</span><span class="special">'ServiceModule', 'yourService'</span><span class="ice">)</span>
            <span class="indent4 optional">[.withMock('$log', logMock)]</span>
            <span class="indent4 ice">.build();</span>
            <span class="indent special">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('test where the $log service is replaced with my own logMock object', function() {</span>
            <span class="indent2 ice">yourService.</span><span class="other">callSomeMethod(...);</span>
            <span class="indent2 other"></span>
            <span class="indent2 other">expect(...).toBe(...);</span>
            <span class="indent other">});</span>
            <span class="other">});</span>
        </code>
    </pre>

    <p>If you need to verify (spy) if 'yourService' calls another service during service instantiation:
        <ol>
            <li>use iceUnit.builder.service(...).build(); to get the other service</li>
            <li>setup spy on the other service</li>
            <li>use iceUnit.inject('yourService'); to get the service you want to test (your service is now instantiated after the spy setup)</li>
        </ol>
    </p>

    <pre>
        <code>
            <span class="indent other">...</span>
            <span class="indent other"></span>
            <span class="indent special">beforeEach(function() {</span>
            <span class="indent2 ice">otherService = iceUnit.builder</span>
            <span class="indent4 ice">.service(</span><span class="special">'ServiceModule', 'otherService'</span><span class="ice">)</span>
            <span class="indent4 optional">[.withMock('$log', logMock)]</span>
            <span class="indent4 ice">.build();</span>
            <span class="indent2"></span>
            <span class="indent2 special">spyOn(otherService, 'functionToSpy'); // jasmine</span>
            <span class="indent2"></span>
            <span class="indent2 ice">yourService = iceUnit.inject('yourService');</span>
            <span class="indent special">});</span>
            <span class="indent other"></span>
            <span class="indent other">...</span>
        </code>
    </pre>

    <h4 id="directive">Testing a directive</h4>

    <p>Based on your needs, iceUnit offers two options for testing a directive:<br/>
        <ol>
            <li><b>iceUnit.builder.directive:</b> to test your directive by supplying a html snippet (recommended in most cases as this is more an 'integration' test)</li>
            <li><b>iceUnit.builder.directiveConfig:</b> to unit test the configuration/setup of your directive. This offers also the possibility to directly test the directive's link method.</li>
        </ol>
    </p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">describe('yourDirective:', function() {</span>
            <span class="indent ice">var $scope;</span>
            <span class="indent ice">var element;</span>
            <span class="indent other"></span>
            <span class="indent special">beforeEach(function () {</span>
            <span class="indent2 ice">var directiveTester = iceUnit.builder</span>
            <span class="indent4 ice">.directive(</span><span class="special">'YourApp', 'HTML of element'</span><span class="ice">)</span>
            <span class="indent4 optional">[.withScopeField('someFieldName', 'some initial value')]</span>
            <span class="indent4 optional">[.skipModuleLoad()]</span><span class="indent special">// if you loaded the module already (e.g. to setup mocking)</span>
            <span class="indent4 ice">.build();</span>
            <span class="indent2 ice"></span>
            <span class="indent2 ice">$scope = directiveTester.$scope;</span>
            <span class="indent2 ice">element = directiveTester.element;</span>
            <span class="indent special">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('some directive test', function() {</span>
            <span class="indent2 special">element. ...</span>
            <span class="indent other">});</span>
            <span class="other">});</span>
        </code>
    </pre>

    <h4 id="directiveConfig">Testing a directive configuration</h4>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">describe('yourDirective:', function() {</span>
            <span class="indent ice">var yourDirective;</span>
            <span class="indent other"></span>
            <span class="indent special">beforeEach(function () {</span>
            <span class="indent2 ice">yourDirective = iceUnit.builder</span>
            <span class="indent4 ice">.directiveConfig(<span class="special">&lt;directive module&gt;</span>, <span class="special">'yourDirective'</span>)</span>
            <span class="indent4 optional">[.withMock(&lt;injectKey&gt;, &lt;mock&gt;)]</span>
            <span class="indent4 ice">.build();</span>
            <span class="indent special">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('is configured as an attribute name', function() {</span>
            <span class="indent2 other">expect(<span class="ice">yourDirective</span>.<span class="special">restrict</span>).toBe('A');</span>
            <span class="indent other">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('some other test based on the link method', function() {</span>
            <span class="indent2 other">var scope = {};</span>
            <span class="indent2 other"><span class="ice">yourDirective</span>.<span class="special">link</span>(scope);</span>
            <span class="indent2 other"></span>
            <span class="indent2 other">expect(scope. ...). ...</span>
            <span class="indent other">});</span>
            <span class="other">});</span>
        </code>
    </pre>

    <h4 id="filter">Testing a filter</h4>

    <p>Angular automatically appends 'Filter' to the name of your filter provider, e.g. for the filter 'personFilter' you would have to inject 'personFilter<b>Filter</b>' to unit test the filter.<br/>
        But iceTest covers that automatically.
    </p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">describe('yourFilter:', function() {</span>
            <span class="indent ice">var yourFilter;</span>
            <span class="indent other"></span>
            <span class="indent special">var logMock = {</span>
            <span class="indent2 special">info: function() {}
            <span class="indent special">};</span>
            <span class="indent other"></span>
            <span class="indent special">beforeEach(function() {</span>
            <span class="indent2 ice">yourFilter = iceUnit.builder</span>
            <span class="indent4 ice">.filter(</span><span class="special">'FilterModule', 'yourFilter'</span><span class="ice">)</span>
            <span class="indent4 optional">[.withMock('$log', logMock)]</span>
            <span class="indent4 ice">.build();</span>
            <span class="indent special">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('does something to the input', function() {</span>
            <span class="indent2 other">expect(<span class="ice">yourFilter(<span class="optional">&lt;filterInput&gt;</span>)</span>).toBe(<span class="optional">&lt;filterResult&gt;</span>);</span>
            <span class="indent other">});</span>
            <span class="other">});</span>
        </code>
    </pre>

    <h4 id="inject">Injecting a service</h4>

    <p>you can do</p>

    <pre>
        <code>
            <span class="ice">var $httpBackend;</span>
            <span class="other"></span>
            <span class="special">beforeEach(function() {</span>
            <span class="indent ice">$httpBackend = iceUnit.inject('$httpBackend');</span>
            <span class="special">});</span>
        </code>
    </pre>

    <p>instead of</p>

    <pre>
        <code>
            <span class="ice">var $httpBackend;</span>
            <span class="other"></span>
            <span class="special">beforeEach(inject(function(_$httpBackend_) {</span>
            <span class="indent ice">$httpBackend = _$httpBackend_;</span>
            <span class="special">}));</span>
        </code>
    </pre>

    <h4 id="mockPromise">Mocking a promise</h4>

    <p>Need to test code that behaves differently based on a promise?<br/>
        With the 'iceUnit.mock.[...]' functions you can mock a promise and simulate its success- or error callback.
    </p>

    <p><strong>iceUnit.mock.promise(</strong>callbackObject<strong>)</strong> supports following promise methods:</p>

    <pre>
        <code>
            <span class="special">.then(successCallback, errorCallback, notifyCallback)</span>
            <span class="other"></span>
            <span class="special">.catch(errorCallback)</span>
        </code>
    </pre>

    <p>the callback functions are stored in the input <strong>callbackObject</strong>:</p>

    <pre>
        <code>
            <span class="special">callbackObject</span><span class="ice">.success</span>
            <span class="special">callbackObject</span><span class="ice">.error</span>
            <span class="special">callbackObject</span><span class="ice">.notify</span>
        </code>
    </pre>

    <h4 id="mockHttpPromise">Mocking a $http promise</h4>

    <p>The angular $http service returns a special promise. This promise can also be mocked without using $httpBackend in all your unit tests.<br/>
        p.s. $httpBackend should only be used in the test of the actual service that is doing a $http call, otherwise you're tightly coupling all your service/controller tests to the rest contract.</p>

    <p><strong>iceUnit.mock.$httpPromise(</strong>callbackObject<strong>)</strong> - specifically made to mock the promise result of an angular $http call - supports following promise methods:</p>

    <pre>
        <code>
            <span class="special">.then(successCallback, errorCallback, notifyCallback)</span>
            <span class="other"></span>
            <span class="special">.catch(errorCallback)</span>
            <span class="other"></span>
            <span class="special">.success(successCallback)</span>
            <span class="indent special">.error(errorCallback)</span>
        </code>
    </pre>

    <p>the same callback functions are stored in the input <strong>callbackObject</strong> as the regular promise (see above)</p>

    <p><strong>Example</strong> where 'myService.myMethod()' behaves differently based on the promise returned by the 'getSomething' method of 'anotherService'.</p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">describe('myService:', function() {</span>
            <span class="indent special">var myService;</span>
            <span class="indent ice">var getSomethingCallBacker = {};</span><span class="indent special">// success and error callbacks will be stored in this object</span>
            <span class="indent other"></span>
            <span class="indent special">var anotherServiceMock = {</span>
            <span class="indent2 special">getSomething: </span><span class="ice">iceUnit.mock.$httpPromise(getSomethingCallBacker)</span>
            <span class="indent special">};</span>
            <span class="indent other"></span>
            <span class="indent other">beforeEach(function() {</span>
            <span class="indent2 special">myService = iceUnit.builder</span>
            <span class="indent4 special">.service(</span><span class="special">'ServiceModule', 'myService'</span><span class="special">)</span>
            <span class="indent4 ice">.withMock('anotherService', anotherServiceMock)</span><span class="indent special">// replace the service dependency with the promise mock</span>
            <span class="indent4 special">.build();</span>
            <span class="indent other">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('test when anotherService.getSomething() runs successfully', function() {</span>
            <span class="indent2 special">myService.myMethod();</span>
            <span class="indent2 other"></span>
            <span class="indent2 ice">getSomethingCallBacker.success({something: 'some value'});</span><span class="indent special">// simulate promise success (pass success data)</span>
            <span class="indent2 other"></span>
            <span class="indent2 other">expect(...).toBe(...);</span>
            <span class="indent other">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('test when anotherService.getSomething() fails', function() {</span>
            <span class="indent2 special">myService.myMethod();</span>
            <span class="indent2 other"></span>
            <span class="indent2 ice">getSomethingCallBacker.error('service is down', 404);</span><span class="indent special">// simulate promise error</span>
            <span class="indent2 other"></span>
            <span class="indent2 other">expect(...).toBe(...);</span>
            <span class="indent other">});</span>
            <span class="other">});</span>
        </code>
    </pre>

    <h4 id="mockResource">Mocking a $resource object</h4>

    <p>The angular $resource service can be used in several ways and is rather complex, but iceUnit can take care of it's mocking for you (again, if you do not want to use $httpBackend all over your unit tests).</p>

    <p><strong>Example:</strong> You want to unit test 'YourCtrl' that interacts with the $resource object returned by the 'openweatherResource' service.<br/>
        In this case the $resource returns an empty reference object (stored in $scope.currentWeather) that will automagically be populated once the server returns the data.
    </p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">angular.module('...').factory('<span class="optional">openweatherResource</span>', function openweatherResourceFactory($resource) {</span>
            <span class="indent other"><span class="optional">return $resource</span>('http://api.openweathermap.org/data/2.5/weather?q=<span class="special">:cityName</span>,<span class="special">:countryCode</span>');</span>
            <span class="other">});</span>
            <span class="other"></span>
            <span class="other">angular.module('YourApp').controller('YourCtrl', function ($scope, <span class="optional">openweatherResource</span>) {</span>
            <span class="indent other">$scope.currentWeather = <span class="optional">openweatherResource</span>.<span class="ice">get(</span><span class="special">{</span></span>
            <span class="indent2 special">cityName: 'Leuven',</span>
            <span class="indent2 special">countryCode: 'be'</span>
            <span class="indent special">}<span class="ice">, function successCallback() {</span></span>
            <span class="indent2 other">$scope.promiseReturnedOk = true;</span>
            <span class="indent other"><span class="ice">}, function errorCallback(httpResponse) {</span></span>
            <span class="indent2 other">$scope.errorData = httpResponse.data;</span>
            <span class="indent2 other">$scope.errorStatus = httpResponse.status;</span>
            <span class="indent other"><span class="ice">});</span></span>
            <span class="other">});</span>
        </code>
    </pre>

    <p>The <strong>$resourceMock</strong> builder fluent api mocks the $resource object internals.</p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">describe('YourCtrl:', function() {</span>
            <span class="indent other">var $scope;</span>
            <span class="indent special">var openweatherResourceCallBacker = {};</span>
            <span class="indent other"></span>
            <span class="indent optional">var openweatherResourceMock = <span class="ice">iceUnit.builder</span></span>
            <span class="indent4 ice">.$resourceMock(<span class="special">openweatherResourceCallBacker</span>)</span>
            <span class="indent4 ice">.build();</span>
            <span class="indent other"></span>
            <span class="indent other">beforeEach(function() {</span>
            <span class="indent2 other">$scope = iceUnit.builder</span>
            <span class="indent4 other">.controllerScope('YourApp', 'YourCtrl')</span>
            <span class="indent4 other">.withMock(<span class="optional">'openweatherResource'</span>, <span class="optional">openweatherResourceMock</span>)</span>
            <span class="indent4 other">.build();</span>
            <span class="indent other">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('currentWeather is populated with the return data on rest call success', function() {</span>
            <span class="indent2 other">expect($scope.currentWeather.<span class="optional">temperature</span>).toBeUndefined();</span>
            <span class="indent2 other"></span>
            <span class="indent2 special">var successData = {</span>
            <span class="indent3 special"><span class="optional">temperature</span>: '30 degrees Celsius'</span>
            <span class="indent2 special">};</span>
            <span class="indent2 other"></span>
            <span class="indent2 special">openweatherResourceCallBacker.<span class="ice">get.success(successData);</span></span><span class="indent special">// simulate $resource 'get' call returns successfully</span>
            <span class="indent2 other"></span>
            <span class="indent2 other">expect($scope.currentWeather.<span class="optional">temperature</span>).toBe('30 degrees Celsius');</span>
            <span class="indent other">});</span>
            <span class="other">});</span>
        </code>
    </pre>

    <p><strong>iceUnit.builder.$resourceMock(</strong>callbackObject<strong>).build()</strong> supports by default the following $resource methods:</p>

    <pre>
        <code>
            <span class="ice">// !! the current iceTest version [0.4.0] supports these methods only when they are called in your code with all parameters !!</span>
            <span class="ice">.get<span class="special">([parametersObject], [successCallback], [errorCallback])</span></span>
            <span class="ice">.save<span class="special">([parametersObject], <span class="ice">postData</span>, [successCallback], [errorCallback])</span></span>
            <span class="ice">.query<span class="special">([parametersObject], [successCallback], [errorCallback])</span></span>
            <span class="ice">.remove<span class="special">([parametersObject], <span class="ice">postData</span>, [successCallback], [errorCallback])</span></span>
            <span class="ice">.delete<span class="special">([parametersObject], <span class="ice">postData</span>, [successCallback], [errorCallback])</span></span>
            <span class="other"></span>
            <span class="ice">// instance methods</span>
            <span class="ice">.$save<span class="special">([parametersObject], [successCallback], [errorCallback])</span></span>
            <span class="ice">.$remove<span class="special">([parametersObject], [successCallback], [errorCallback])</span></span>
            <span class="ice">.$delete<span class="special">([parametersObject], [successCallback], [errorCallback])</span></span>
            <span class="other"></span>
            <span class="special">// the callback functions are stored in the input callbackObject within an object named after the $resource method</span>
            <span class="special">// e.g. callbacks for the 'get', 'save' and '$delete' methods</span>
            <span class="special">callbackObject<span class="ice">.get</span>.success</span>
            <span class="special">callbackObject<span class="ice">.get</span>.error</span>
            <span class="special">callbackObject<span class="ice">.save</span>.success</span>
            <span class="special">callbackObject<span class="ice">.save</span>.error</span>
            <span class="special">callbackObject<span class="ice">.$delete</span>.success</span>
            <span class="special">callbackObject<span class="ice">.$delete</span>.error</span>
            <span class="special">etc.</span>
        </code>
    </pre>

    <p>optional $resourceMock builder options:</p>

    <pre>
        <code>
            <span class="ice">iceUnit.builder</span>
            <span class="indent2 ice">.$resourceMock(<span class="special">callbackObject</span>)</span>
            <span class="indent2 other"></span>
            <span class="indent2 other">/* Mock a custom action that was defined extra on the $resource.</span>
            <span class="indent2 other"> * </span>
            <span class="indent2 other"> *   actionName: must match your custom $resource action + will be used to store the success/error callbacks on the callbackObject</span>
            <span class="indent2 other"> *   isArray: boolean - If true then the returned object for this action is an array, otherwise an object</span>
            <span class="indent2 other"> *   isPayload: boolean - Use true if action can receive payload, so use false for GET actions</span>
            <span class="indent2 other"> *   hasInstanceAction: boolean - Use true if you want the action also to be available as an instance action ('$' will be prefixed automatically)</span>
            <span class="indent2 other"> */</span>
            <span class="indent2 optional">.withCustomAction('actionName', &lt;isArray&gt;, &lt;isPayload&gt;, &lt;hasInstanceAction&gt;)</span>
            <span class="indent2 other"></span>
            <span class="indent2 ice">.build();</span>
        </code>
    </pre>

    <h4 id="mockResourceAction">Mocking a $resource action</h4>

    <p>Usefull if you want to mock a single action/method of a $resource object.</p>

    <p><strong>Example:</strong> You want to unit test 'YourCtrl' that interacts with the $resource query action returned by the 'githubResource' service.
    </p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">angular.module('...').factory('<span class="optional">githubResource</span>', function githubResourceFactory($resource) {</span>
            <span class="indent other"><span class="optional">var githubRes = $resource</span>('https://api.github.com/users/:username/repos');</span>
            <span class="indent other">return {</span>
            <span class="indent2 other"><span class="ice">getUserRepos</span>: function(<span class="special">username</span>, successCallback, errorCallback) {</span>
            <span class="indent3 optional">return githubRes.query(</span>
            <span class="indent4 other">{ username: <span class="special">username</span> },</span>
            <span class="indent4 other">successCallback,</span>
            <span class="indent4 other">errorCallback</span>
            <span class="indent3 optional">);</span>
            <span class="indent2 other">}</span>
            <span class="indent other">};</span>
            <span class="other">});</span>
            <span class="other"></span>
            <span class="other">angular.module('YourApp').controller('YourCtrl', function ($scope, <span class="optional">githubResource</span>, <span class="special">user</span>) {</span>
            <span class="indent other">$scope.githubReposOfUser = <span class="optional">githubResource</span>.<span class="ice">getUserRepos(</span></span>
            <span class="indent2 special">user.getName()<span class="ice">,</span></span>
            <span class="indent2 ice">function successCallback() {</span>
            <span class="indent3 other">$scope.promiseReturnedOk = true;</span>
            <span class="indent2 ice">}, function errorCallback(httpResponse) {</span>
            <span class="indent3 other">$scope.errorData = httpResponse.data;</span>
            <span class="indent3 other">$scope.errorStatus = httpResponse.status;</span>
            <span class="indent2 other"><span class="ice">});</span></span>
            <span class="other">});</span>
        </code>
    </pre>

    <p>The <strong>$resourceActionMock</strong> builder fluent api mocks the $resource action internals.</p>

    <pre>
        <code>
            <span class="other">'use strict';</span>
            <span class="other"></span>
            <span class="other">describe('YourCtrl:', function() {</span>
            <span class="indent other">var $scope;</span>
            <span class="indent special">var getUserReposCallBacker = {};</span>
            <span class="indent other"></span>
            <span class="indent optional">var githubResourceMock = {</span>
            <span class="indent3 ice">getUserRepos: iceUnit.builder</span></span>
            <span class="indent4 ice">.$resourceActionMock(<span class="optional">'query'</span>, <span class="special">getUserReposCallBacker</span>)</span>
            <span class="indent4 ice">.acceptsPayload(false)</span>
            <span class="indent4 ice">.returnsArray(true)</span>
            <span class="indent4 ice">.build();</span>
            <span class="indent optional">};</span>
            <span class="indent other"></span>
            <span class="indent other">beforeEach(function() {</span>
            <span class="indent2 other">$scope = iceUnit.builder</span>
            <span class="indent4 other">.controllerScope('YourApp', 'YourCtrl')</span>
            <span class="indent4 other">.withMock(<span class="optional">'githubResource'</span>, <span class="optional">githubResourceMock</span>)</span>
            <span class="indent4 other">.build();</span>
            <span class="indent other">});</span>
            <span class="indent other"></span>
            <span class="indent other">it('githubReposOfUser is populated with the return data on rest call success', function() {</span>
            <span class="indent2 special">var successData = [ { repoName: 'angular-ice' }, { repoName: 'bower-angular-ice' } ];</span>
            <span class="indent2 other"></span>
            <span class="indent2 special">getUserReposCallBacker.<span class="optional">query</span><span class="ice">.success(successData);</span></span><span class="indent special">// simulate $resource 'query' call returns successfully</span>
            <span class="indent2 other"></span>
            <span class="indent2 other">expect($scope.githubReposOfUser.length).toBe(2);</span>
            <span class="indent other">});</span>
            <span class="other">});</span>
        </code>
    </pre>

    <hr/>

    <h4 id="liveExamples">Live example(s)</h4>

    <p>See some <strong>_test.js</strong> files in the <a href="https://github.com/bverbist/angular-ice" target="_blank">angular-ice github code</a></p>

</div>
